.noteCard {
  box-shadow: 5px 5px 5px grey;
  margin-top: 20px;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  width: 40%; // Leave 10% for margins
}

@media (min-width: 500px) {
  .noteCard {
    width: 200px; // Larger screens should have more cards per row.
  }
}

.noteContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
